# Database (Neon / Supabase / PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_6eA7LfKQDjik@ep-twilight-grass-adhyrzdw-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Cloudinary (ใช้ URL รวม API key/secret)
CLOUDINARY_URL=cloudinary://225192752865962:OsRUOtRh8zvdU628T1qC2cgDdHY@drr11w9tp

# (optional) กำหนดโฟลเดอร์เริ่มต้นสำหรับอัปโหลด
CLOUDINARY_FOLDER=it-stock/uploads
